In [1]:
fox = "FOXED_p_TCGA_b122_128_SNP_N_GenomeWideSNP_6_G02_781896.nocnv_grch38.seg.v2.txt"

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
fox_bed = pd.read_csv(fox, sep='\t', header=0)

In [5]:
fox_bed.head()

,GDC_Aliquot,Chromosome,Start,End,Num_Probes,Segment_Mean
0,7d934540-c6ac-44ef-b709-1ded409544c4,1,3301765,102852113,58109,0.0009
1,7d934540-c6ac-44ef-b709-1ded409544c4,1,102852687,102856163,2,-1.4431
2,7d934540-c6ac-44ef-b709-1ded409544c4,1,102856785,180779181,29103,-0.0012
3,7d934540-c6ac-44ef-b709-1ded409544c4,1,180781437,180786525,5,-0.8793
4,7d934540-c6ac-44ef-b709-1ded409544c4,1,180788492,247650984,42609,0.0011

In [34]:
fox_bed1 = pd.DataFrame(fox_bed[['GDC_Aliquot', 'Chromosome', 'Start','End','Segment_Mean']])

In [35]:
#filter based on segment mean column values , 
#filter also based upon length of segment less than 500,000, you want less than 500,000

In [36]:
Length = fox_bed['End'] - fox_bed['Start']

In [37]:
fox_bed1['Length'] = Length

In [38]:
fox_bed1.head()

,GDC_Aliquot,Chromosome,Start,End,Segment_Mean,Length
0,7d934540-c6ac-44ef-b709-1ded409544c4,1,3301765,102852113,0.0009,99550348
1,7d934540-c6ac-44ef-b709-1ded409544c4,1,102852687,102856163,-1.4431,3476
2,7d934540-c6ac-44ef-b709-1ded409544c4,1,102856785,180779181,-0.0012,77922396
3,7d934540-c6ac-44ef-b709-1ded409544c4,1,180781437,180786525,-0.8793,5088
4,7d934540-c6ac-44ef-b709-1ded409544c4,1,180788492,247650984,0.0011,66862492

In [39]:
Length_less = fox_bed1['Length'] <= 500000

In [40]:
fox_bed1.head()

,GDC_Aliquot,Chromosome,Start,End,Segment_Mean,Length
0,7d934540-c6ac-44ef-b709-1ded409544c4,1,3301765,102852113,0.0009,99550348
1,7d934540-c6ac-44ef-b709-1ded409544c4,1,102852687,102856163,-1.4431,3476
2,7d934540-c6ac-44ef-b709-1ded409544c4,1,102856785,180779181,-0.0012,77922396
3,7d934540-c6ac-44ef-b709-1ded409544c4,1,180781437,180786525,-0.8793,5088
4,7d934540-c6ac-44ef-b709-1ded409544c4,1,180788492,247650984,0.0011,66862492

In [41]:
fox_bed2 = fox_bed1[Length_less]

In [42]:
fox_bed2.head()

,GDC_Aliquot,Chromosome,Start,End,Segment_Mean,Length
1,7d934540-c6ac-44ef-b709-1ded409544c4,1,102852687,102856163,-1.4431,3476
3,7d934540-c6ac-44ef-b709-1ded409544c4,1,180781437,180786525,-0.8793,5088
7,7d934540-c6ac-44ef-b709-1ded409544c4,3,3341411,3341522,-1.8245,111
9,7d934540-c6ac-44ef-b709-1ded409544c4,3,9091506,9092198,-1.5152,692
11,7d934540-c6ac-44ef-b709-1ded409544c4,3,62076946,62078050,-1.7288,1104

In [43]:
copy_gain = fox_bed2['Segment_Mean'] >= 0.4

In [44]:
fox_bed3 = fox_bed2[copy_gain]

In [45]:
fox_bed3.head(20)

,GDC_Aliquot,Chromosome,Start,End,Segment_Mean,Length
33,7d934540-c6ac-44ef-b709-1ded409544c4,11,126679350,126679362,1.6330,12
52,7d934540-c6ac-44ef-b709-1ded409544c4,16,54837218,54843565,0.6201,6347
54,7d934540-c6ac-44ef-b709-1ded409544c4,16,60135042,60193214,0.5765,58172

In [148]:
len(fox_bed3)

3

In [47]:
import Bio

In [48]:
from Bio import SeqIO

In [68]:
print(Bio.__version__)

1.76

In [ ]:
#use slicing to find the sequence and the turn into a

In [ ]:
# for loop ?
# appending to an empty dataframe

 *_genomic.fna.gz file
       FASTA format of the genomic sequence(s) in the assembly. Repetitive 
       sequences in eukaryotes are masked to lower-case (see below).
       The FASTA title is formatted as sequence accession.version plus 
       description. The genomic.fna.gz file includes all top-level sequences in
       the assembly (chromosomes, plasmids, organelles, unlocalized scaffolds,
       unplaced scaffolds, and any alternate loci or patch scaffolds). Scaffolds
       that are part of the chromosomes are not included because they are
       redundant with the chromosome sequences; sequences for these placed 
       scaffolds are provided under the assembly_structure directory.

In [111]:
record_dict = SeqIO.to_dict(SeqIO.parse("GRCh38_no_alt_analysis_set_GCA_000001405.15.fasta", "fasta"))
print(record_dict['chr11'])  # use any record ID

ID: chr11
Name: chr11
Description: chr11  AC:CM000673.2  gi:568336013  LN:135086622  rl:Chromosome  M5:1511375dc2dd1b633af8cf439ae90cec  AS:GRCh38
Number of features: 0
Seq('NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...NNN', SingleLetterAlphabet())

In [145]:
# parse faste file and turn into dictionary
records = SeqIO.to_dict(SeqIO.parse(open('GRCh38_no_alt_analysis_set_GCA_000001405.15.fasta'), 'fasta'))

In [194]:
from Bio import SeqIO
from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord

In [233]:
positions = fox_bed3.loc[:,['Chromosome', 'Start', 'End']]
positions.head()

   Chromosome      Start        End
33         11  126679350  126679362
52         16   54837218   54843565
54         16   60135042   60193214

In [204]:
# read names and postions from dataframe
# parse fasta file and turn into dictionary
#search for sequences
#add to dataframe

In [192]:
fox_bed3['Sequence'] = Sequence

NameError: name 'Sequence' is not defined

In [ ]:
from Bio import SeqIO
from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord
from collections import defaultdict

# read names and postions from bed file
positions = defaultdict(list)
with open('positions.bed') as f:
    for line in f:
        name, start, stop = line.split()
        positions[name].append((int(start), int(stop)))

# parse faste file and turn into dictionary
records = SeqIO.to_dict(SeqIO.parse(open('sequences.fasta'), 'fasta'))

# search for short sequences
short_seq_records = []
for name in positions:
    for (start, stop) in positions[name]:
        long_seq_record = records[name]
        long_seq = long_seq_record.seq
        alphabet = long_seq.alphabet
        short_seq = str(long_seq)[start-1:stop]
        short_seq_record = SeqRecord(Seq(short_seq, alphabet), id=name, description='')
        short_seq_records.append(short_seq_record)

# write to file
with open('output.fasta', 'w') as f:
    SeqIO.write(short_seq_records, f, 'fasta')