I downloaded a file from TCGA, a bladder cancer copy numbar variant file. It is in txt format and I want to convert it to bed format.

In [13]:
fox = "FOXED_p_TCGA_b122_128_SNP_N_GenomeWideSNP_6_G02_781896.nocnv_grch38.seg.v2.txt"

In [17]:
import pandas as pd

In [33]:
#pd.read_csv(‘file’name, sep='\t', header=0)

In [19]:
fox_bed = pd.read_csv(fox, sep='\t', header=0)

In [20]:
fox_bed.head()

,GDC_Aliquot,Chromosome,Start,End,Num_Probes,Segment_Mean
0,7d934540-c6ac-44ef-b709-1ded409544c4,1,3301765,102852113,58109,0.0009
1,7d934540-c6ac-44ef-b709-1ded409544c4,1,102852687,102856163,2,-1.4431
2,7d934540-c6ac-44ef-b709-1ded409544c4,1,102856785,180779181,29103,-0.0012
3,7d934540-c6ac-44ef-b709-1ded409544c4,1,180781437,180786525,5,-0.8793
4,7d934540-c6ac-44ef-b709-1ded409544c4,1,180788492,247650984,42609,0.0011

read in an entire directory, 
use a python library that includes a function called glob

log base two fold change 
negative one is a loss of A copy
positive one is a gain of A copy

In [21]:
#no change or a loss can be filtered out

In [22]:
# smaller than half a million base pairs gets filtered out

In [29]:
snows = "SNOWS_p_TCGA_Batch_309_310_NSP_GenomeWideSNP_6_A08_1362082.nocnv_grch38.seg.v2.txt"

In [30]:
snows_bed = pd.read_csv(snows, sep='\t', header=0)

In [32]:
snows_bed.head()

,GDC_Aliquot,Chromosome,Start,End,Num_Probes,Segment_Mean
0,8e5b2e10-a429-49d7-ae1e-2f18791d1e9a,1,3301765,155210675,70457,0.0181
1,8e5b2e10-a429-49d7-ae1e-2f18791d1e9a,1,155241876,155429147,102,0.5199
2,8e5b2e10-a429-49d7-ae1e-2f18791d1e9a,1,155430326,188190086,21221,0.0191
3,8e5b2e10-a429-49d7-ae1e-2f18791d1e9a,1,188193196,189979516,921,-0.8394
4,8e5b2e10-a429-49d7-ae1e-2f18791d1e9a,1,189984414,206989616,10238,0.0262